<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <application
        android:allowBackup="false"
        android:icon="@drawable/zenpm_icon"
        android:label="ZenPM Backend"
        android:roundIcon="@drawable/zenpm_icon"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ZenPMActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="zenpm" android:host="start" />
                <data android:scheme="zenpm" android:host="stop" />
                <data android:scheme="zenpm" android:host="update" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".ZenPMLauncher"
            android:exported="true"
            android:targetActivity=".ZenPMActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <service
            android:name=".ZenPMService"
            android:exported="true"
            android:foregroundServiceType="dataSync" />
        <provider
            android:name=".ZenPMUpdateProvider"
            android:authorities="${applicationId}.updates"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
